.banner {
    background-color: brown;

}

.left{
    background-color: orange;
}

.topmenu{
    background-color: lightsalmon;
}

.pics.red{
    background-color: lightcoral;
}

.pics.blue{
    background-color: aqua;
}